# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate*

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/

# Lambda layers (binary dependencies)
lambda/lambda_layers/# Terraform providers and state
.terraform/
terraform.tfstate*

# Lambda build artifacts
lambda_packages/
lambda_functions/lambda_packages/
